* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.root {
    overflow: hidden;
}

.poke-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Nav section */

.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 56px;
    background-color: rgba(0, 0, 0, .2);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 50px;
    padding: 0 20px;
}

.nav-list {
    display: flex;
    justify-content: center;
    list-style: none;

}

.list-item {
    display: block;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 20px;
    color: #000;
    text-transform: uppercase;
    transition: all 0.2s ease;
    border-radius: 10px;
    letter-spacing: 2px;
}

.list-item:hover {
    background-color: #fff;
    border-radius: 20px;;
    color: #000;
}

/* Pokedex section */

.religion-name {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.poke-wrapper {
    border-radius: 20px;
    margin-bottom: 20px;
    width: 30%;
    padding: 24px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.poke__img {
    height: 400px;
    width: 300px;
    object-fit: scale-down;
    border-radius: 20px;
    background-color: #fff;
    margin-bottom: 16px;
    padding: 10px;
}

.poke__type--fire {
    background-color: #fd7d24;
}

.poke__type--grass {
    background-color: #9bcc50;
}

.poke__type--water {
    background-color: #4592c4;
}

.poke__type--electric {
    background-color: #eed535;
}

.poke__type--psychic {
    background-color: #f366b9;
}

.poke__type--other {
    background-color: #a4acaf;
}